body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #252525, #161616, #060606, #030303, #000000); 
  color: #ffffff;
  margin: 0;
  padding: 0;

}
nav {
  position: fixed;
  overflow: hidden;
  min-height: 50px;
  top: 0;
  left: 0;
  width: 100%; 
  border-bottom: 1px solid gray;
  text-align: center;
  background: linear-gradient(to right, #252525, #161616, #060606, #030303, #000000); 
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}


nav li {
  display: inline;
  margin-right: 20px;
  
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s;
}

nav a:hover {
  color: #e74c3c;
}
/*section 1*/
.image-container {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
.text{
  font-size: 50;
}
.Show-Coin,.text{
  display: flex;
  justify-content: center;
}
.Show-Coin div{
margin-left: 40px;
}
.text img{
  width: 100px;
  position: relative;
  bottom: 15px;
  animation: moveUpDown1 2s infinite alternate;
}
.section1{
  margin-top: 300px;
}
.slot{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slot img {
  animation: moveUpDown 2s infinite alternate;
}
@keyframes moveUpDown1 {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(5px); /
  }
}
@keyframes moveUpDown {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-10px); 
  }
}
/* section 2*/
table {
  width: 50%;
  border-collapse: collapse;
  margin: 0 auto; 
  margin-top: 50vh;
  background: whitesmoke; 
}

th, td {
  border: 1px solid #c9c9c9;
  text-align: left;
  padding: 8px;
  color: #334;
}

th {
  background-color: #012944; 
  color: #ffffff;
}

button {
  background-color: #131313;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

button.active {
  background-color: #e74c3c;
}

#pagination {
  text-align: center;
  margin-top: 20px;
}
tr:nth-child(even) {
  background-color: whitesmoke;
}
tr:nth-child(odd) {
  background-color: #f1f1f1; 
}
/*section 3*/
.why-choose-us {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.why-choose-us h2 {
  color: #b4b4b4;
  font-size: 24px;
  margin-bottom: 20px;
}
.feature-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  align-items: center;
}
.why-choose-us div {
  border-radius: 5px;
  padding: 20px;
  text-align: left;
}
.why-choose-us h3 {
  display: flex;
  align-items: center;
  color: #1861af;
  font-size: 18px;
  margin-bottom: 10px;
}
.why-choose-us p {
  color: #dfdfdf;
  font-size: 16px;
}
.why-choose-us p.cta {
  color: #0155ad; 
  font-weight: bold;
  margin-top: 20px;
}
